html,body,div,span,object,input,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
}
html,body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	color: #333333;
	font-family: "Microsoft YaHei";
	height: 100%;
}
body {
	overflow: auto;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
h1,h2,h3,h4,h5,h6,em,i {
	font-weight:100;
	font-style:normal;
}
ul,ol,li {
	list-style-type:none;
}
a {
	color:#666;
	text-decoration:none;
	outline:0;
}
a:hover {
	text-decoration:none;
}
.floatLeft{
	float: left;
}
input{
	border: 0px;
	background-color: none;
	outline: none;
	padding-left: 5px;
	line-height: 33px;
 }
 input:focus{
	outline: none;
 }
/* 将默认的select选择框样式清除 */
select{
	padding-left: 5px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: 1px solid #dcdfe6;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding-right: 14px;
	/*加padding防止文字覆盖*/
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

option::-ms-expand{ display: none; }
option{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
}
/* --背景色字体颜色--*/
option:hover{
    color:#fff;
    background-color:#1E90FF;
}
.page {
	display: none;
	width: 1200px;
	height: 45px;
	padding: 20px 0;
	margin: 0 auto;
}

.page  ul{
	width: 550px;
	margin: 0 auto;

}
.page form ul li{
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
	list-style: none;
	float: left;
	padding: 6px;
	font-size: 13px;
	margin: 2px;
	cursor: pointer;
	color: #585858;
}
#ul .background {
	background: #2d60b3;
	color: white;
	border: 1px solid #39C6F4;
}
ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.active {
	background-color: #2d60b3;
	color: #fff !important;
}
